<div class="card p-4 shadow-sm mx-auto" style="max-width: 400px">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row" style="margin-bottom: 30px">
      <h3 class="text-center title-page">Login</h3>
    </div>
    <div class="row">
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        hideRequiredMarker
        class="col-12"
      >
        <mat-label>*Usuário</mat-label>
        <input
          matInput
          formControlName="usuario"
          placeholder="Digite o nome de usuário"
        />

        @if(loginForm.get('usuario')?.hasError('required') &&
        loginForm.get('usuario')?.touched) {
        <mat-hint>Campo obrigatório</mat-hint> }
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        hideRequiredMarker
        class="col-12"
      >
        <mat-label>*Senha</mat-label>
        <input
          matInput
          type="password"
          formControlName="senha"
          placeholder="Digite a senha"
        />

        @if(loginForm.get('senha')?.hasError('required') &&
        loginForm.get('senha')?.touched) {
        <mat-hint>Campo obrigatório</mat-hint> }
      </mat-form-field>
    </div>

    <div class="row">
      <button type="submit" mat-flat-button class="button-primary col-12">Entrar</button>
    </div>
  </form>

  <!-- <div class="text-center mt-3">
    <span>Não tem uma conta?</span>
    <button
      mat-button
      color="accent"
      (click)="utilService.redirectTo('login/cadastro')"
    >
      Criar conta
    </button>
  </div> -->
</div>
