<app-title-page
  title="Gestão de Venda"
  subtitle="Faça a busca de registros de venda conforme os filtros."
  [buttons]="buttonsTitlePage"
  (buttonRedirectEvent)="utilService.redirectTo($event)"
>
</app-title-page>

<div>
  <form [formGroup]="pesquisaForm">
    <div class="row">
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        hideRequiredMarker
        class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12"
      >
        <mat-label>Nome</mat-label>
        <input
          matInput
          formControlName="nomeCliente"
          placeholder="Digite o nome do cliente"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        hideRequiredMarker
        class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12"
      >
        <mat-label>Data Inicial</mat-label>
        <input
          matInput
          formControlName="dataInicial"
          [matDatepicker]="dataInicial"
          placeholder="Selecione a data inicial"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="dataInicial"
        ></mat-datepicker-toggle>
        <mat-datepicker #dataInicial></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        hideRequiredMarker
        class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12"
      >
        <mat-label>Data Final</mat-label>
        <input
          matInput
          formControlName="dataFinal"
          [matDatepicker]="dataFinal"
          placeholder="Selecione a data final"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="dataFinal"
        ></mat-datepicker-toggle>
        <mat-datepicker #dataFinal></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
  <div style="display: flex; justify-content: center; gap: 10px">
    <button mat-flat-button class="button-secondary" (click)="limparFiltro()">
      Limpar
    </button>
    <button
      mat-flat-button
      class="button-primary"
      (click)="pesquisarRegistrosVenda()"
    >
      Pesquisar
    </button>
  </div>
</div>

<br /><br />

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nomeCliente">
      <th mat-header-cell *matHeaderCellDef>Nome do Cliente</th>
      <td mat-cell *matCellDef="let element">
        {{ element.nomeCliente }}
      </td>
    </ng-container>

    <ng-container matColumnDef="valorTotal">
      <th mat-header-cell *matHeaderCellDef>Valor Total</th>
      <td mat-cell *matCellDef="let element">
        {{ element.valorTotal | priceMask }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lucro">
      <th mat-header-cell *matHeaderCellDef>Lucro da Venda</th>

      <td mat-cell *matCellDef="let element">
        <span class="cell-lucro">
          {{ element.lucro | priceMask }} ({{
            element.porcentagemLucro | percent : "1.2-2"
          }})

          <mat-icon
            (click)="openModalVisualizacaoRentabilidade(element.id)"
            matTooltip="Visualizar Rentabilidade"
            matTooltipPosition="below"
            class="icon-visualizacao-lucro"
            >attach_money</mat-icon
          >
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="dataVenda">
      <th mat-header-cell *matHeaderCellDef>Data da Venda</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dataVenda | date : "dd/MM/yyyy HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">
        <div class="box-buttons-acoes">
          <mat-icon
            (click)="utilService.redirectTo('venda/visualizacao', element.id)"
            matTooltip="Visualizar"
            matTooltipPosition="below"
            >remove_red_eye</mat-icon
          >
          <mat-icon
            (click)="utilService.redirectTo('venda/edicao', element.id)"
            matTooltip="Editar"
            matTooltipPosition="below"
            >edit</mat-icon
          >
          <mat-icon
            (click)="excluirRegistroVenda(element.id)"
            matTooltip="Excluir"
            matTooltipPosition="below"
            >delete</mat-icon
          >
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum registro encontrado.</td>
    </tr>
  </table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
