@use "../../../../styles.scss";

body {
  padding: 20px;

  .box-title-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .title-page {
      color: styles.$color-primary-500;
      font: styles.$font-title;
    }

    .icon-close {
      color: styles.$color-primary-500;
      width: 32px;
      height: 32px;
      font-size: 32px;
      cursor: pointer;
    }
  }

  .box-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.mat-column-nome {
  width: 35%;
}
.mat-column-medida {
  width: 15%;
}
.mat-column-categoria {
  width: 25%;
}
.mat-column-dataVencimento {
  width: 15%;
}
.mat-column-acoes {
  width: 10%;
}
