<div class="box-card">
  <mat-card
    class="card"
    appearance="outlined"
    (click)="openDialogProdutosMaisVendidos()"
  >
    <mat-card-header>
      <!-- <mat-icon fontIcon="people"></mat-icon> -->
      <mat-card-title>Produtos Mais Vendidos</mat-card-title>
      <!-- <mat-card-subtitle
        >Gerencie todos os clientes e seus pets</mat-card-subtitle
      > -->
    </mat-card-header>
  </mat-card>

  <mat-card
    class="card"
    appearance="outlined"
    (click)="openDialogClientesMaisCompram()"
  >
    <mat-card-header>
      <!-- <mat-icon fontIcon="people"></mat-icon> -->
      <mat-card-title>Clientes que Mais Compram</mat-card-title>
      <!-- <mat-card-subtitle
        >Gerencie todos os clientes e seus pets</mat-card-subtitle
      > -->
    </mat-card-header>
  </mat-card>

  <mat-card
    class="card"
    appearance="outlined"
    (click)="openDialogDiasMesMaisVendidos()"
  >
    <mat-card-header>
      <!-- <mat-icon fontIcon="people"></mat-icon> -->
      <mat-card-title>Dias do Mês Mais Vendidos</mat-card-title>
      <!-- <mat-card-subtitle
        >Gerencie todos os clientes e seus pets</mat-card-subtitle
      > -->
    </mat-card-header>
  </mat-card>

  <mat-card
    class="card"
    appearance="outlined"
    (click)="openDialogDiasSemanaMaisVendidos()"
  >
    <mat-card-header>
      <!-- <mat-icon fontIcon="people"></mat-icon> -->
      <mat-card-title>Dias da Semana Mais Vendidos</mat-card-title>
      <!-- <mat-card-subtitle
        >Gerencie todos os clientes e seus pets</mat-card-subtitle
      > -->
    </mat-card-header>
  </mat-card>

  <mat-card class="card" appearance="outlined" (click)="openDialogIdadePet()">
    <mat-card-header>
      <!-- <mat-icon fontIcon="people"></mat-icon> -->
      <mat-card-title>Idade dos Pets</mat-card-title>
      <!-- <mat-card-subtitle
        >Gerencie todos os clientes e seus pets</mat-card-subtitle
      > -->
    </mat-card-header>
  </mat-card>

  <mat-card class="card" appearance="outlined" (click)="openDialogRacaPet()">
    <mat-card-header>
      <!-- <mat-icon fontIcon="people"></mat-icon> -->
      <mat-card-title>Raça dos Pets</mat-card-title>
      <!-- <mat-card-subtitle
        >Gerencie todos os clientes e seus pets</mat-card-subtitle
      > -->
    </mat-card-header>
  </mat-card>

  <mat-card class="card" appearance="outlined" (click)="openDialogTipoPet()">
    <mat-card-header>
      <!-- <mat-icon fontIcon="people"></mat-icon> -->
      <mat-card-title>Tipo dos Pets</mat-card-title>
      <!-- <mat-card-subtitle
        >Gerencie todos os clientes e seus pets</mat-card-subtitle
      > -->
    </mat-card-header>
  </mat-card>
</div>
