<div class="box-card">
  <mat-card
    class="card"
    appearance="outlined"
    (click)="utilService.redirectTo('cliente')"
  >
    <mat-card-header>
      <mat-icon fontIcon="people"></mat-icon>
      <mat-card-title>Gestão de Clientes & Pets</mat-card-title>
      <mat-card-subtitle
        >Gerencie todos os clientes e seus pets</mat-card-subtitle
      >
    </mat-card-header>
  </mat-card>

  <mat-card
    class="card"
    appearance="outlined"
    (click)="utilService.redirectTo('produto')"
  >
    <mat-card-header>
      <mat-icon fontIcon="inventory"></mat-icon>
      <mat-card-title>Gestão de Produtos & Estoque</mat-card-title>
      <mat-card-subtitle
        >Gerencie todos os produtos e o estoque</mat-card-subtitle
      >
    </mat-card-header>
  </mat-card>

  <mat-card
    class="card"
    appearance="outlined"
    (click)="utilService.redirectTo('venda')"
  >
    <mat-card-header>
      <mat-icon fontIcon="shopping_cart"></mat-icon>
      <mat-card-title>Vendas</mat-card-title>
      <mat-card-subtitle>Gerencie as vendas</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>

<br />

<div class="box-card">
  <mat-card
    class="card"
    appearance="outlined"
    (click)="utilService.redirectTo('vacinacao')"
  >
    <mat-card-header>
      <mat-icon fontIcon="vaccines"></mat-icon>
      <mat-card-title>Controle de Vacinação</mat-card-title>
      <mat-card-subtitle>Acompanhe a vacinação de cada pet</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card
    class="card"
    appearance="outlined"
    (click)="utilService.redirectTo('financeiro')"
  >
    <mat-card-header>
      <mat-icon fontIcon="attach_money"></mat-icon>
      <mat-card-title>Financeiro</mat-card-title>
      <mat-card-subtitle>Visualize os dados financeiros</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card
    class="card"
    appearance="outlined"
    (click)="utilService.redirectTo('relatorios')"
  >
    <mat-card-header>
      <mat-icon fontIcon="assessment"></mat-icon>
      <mat-card-title>Relatórios</mat-card-title>
      <mat-card-subtitle>Visualize os relatórios</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
